body {
    color: #0a1312;
    background-color: #444;
    overflow-x: hidden;
}

h1 {}

h2 {
    margin-top: 5px;
    text-align: left;
}

.menu-1 {
    height: 60px;
    background: rgb(0, 0, 0);
}

.slider-1,
.slider-2,
.slider-3,
.slider-4,
.slider-5 {
    height: 100vh;
    text-align: center;
}

.slider-1 {
    background-image: url(../imagenes/slider1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.slider-2 {
    background-image: url(../imagenes/slider2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.slider-3 {
    background-image: url(../imagenes/slider3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.slider-4 {
    background-image: url(../imagenes/slider4.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.slider-5 {
    background-image: url(../imagenes/slider5.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.section {
    padding-top: 150px;
}

.alboton1 {
    text-align: center;
}


/*Boton ESP-ENG*/

.idioma {
    padding-right: 10px;
    padding-top: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .1s;
    transition: .1s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .1s;
    transition: .1s;
}

input:checked+.slider {
    background-color: black;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*bajo los botones en las secciones*/

.alboton {
    position: relative;
    top: 200px;
}

.btn {
    border-radius: 40px;
}


/*empiezo formulario*/

.h1F {
    text-align: center;
    margin: 10px;
}

form {
    background: #fff;
    width: 100%;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form {
    width: 100%;
    margin: auto;
}

form .grupo {
    position: relative;
    margin: 45px;
}

.inputF,
textarea {
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

.inputF:focus,
textarea:focus {
    outline: none;
    color: rgb(94, 93, 93);
}

.inputF:focus~label,
.inputF:valid~label,
textarea:focus~label,
textarea:valid~label {
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

.labelF {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}

.inputF:focus~.barra::before,
textarea:focus~.barra::before {
    width: 100%;
}

.barra {
    position: relative;
    display: block;
    width: 100%;
}

.barra::before {
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #5dc1b9, #FC5C7D);
    transition: 0.3s ease all;
    left: 0%;
}

.buttonF {
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 100px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

.btn-personalize {
    border-radius: 40px;
    padding: 15px 80px;
    outline-offset: 0px;
    text-shadow: none;
    text-decoration: none;
    background-color: #61c0a0d5;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-personalize:hover {
    border: 1 solid;
    border-radius: 2px;
    text-decoration: none;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 20px;
    background-color: #7fffd4;
    text-shadow: 1px 1px 2px #ffffff;
}

.selected {
    border: 1 solid;
    border-color: #343434;
    border-radius: 40px;
    text-decoration: none;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 20px;
    background-color: #8effd9;
    text-shadow: 1px 1px 2px #ffffff;
}

@media screen and (max-width:1100px) {
    form {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    form {
        width: 80%;
    }
    .nav {
        visibility: hidden!important;
    }
}

@media screen and (max-width:450px) {
    form {
        width: 80%;
    }
    .nav {
        visibility: hidden!important;
    }
}

@media screen and (max-width:300px) {
    form {
        text-align: center;
        width: 100%;
    }
    .nav {
        visibility: hidden!important;
    }
}


/*boton para volver a la pagina principal*/

.btn-hoome {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 70px;
    right: 25px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    z-index: 100;
    transition: all 300ms ease;
}

.btn-hoome:hover {
    background: #20ba5a;
}

footer {
    width: 100%;
    padding: 50px 0px;
    background-image: url(../imagenes/background-footer.svg);
    background-color: rgba(143, 167, 58, 0.596);
    ;
    background-size: cover;
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.logo2 {
    padding-right: 5px;
    padding-bottom: -5pxW;
}

.logo2-titulo {
    display: flex!important;
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img {
    width: 180px;
}

.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2 {
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a {
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover {
    opacity: 0.8;
}

.box__footer a .fab {
    font-size: 20px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p {
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .btn-hoome {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
}